*,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.settings {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  color: #ffffff;
  font-size: 12px;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 50%;
  overflow: hidden;
  padding: 0.75rem;
}

.settings .content {
  min-width: 90%;
}

h1 {
  padding: 10px;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 40px;
}

.settings .button {
  flex-grow: 1;
}

.settings .button button {
  width: 32px;
  height: 32px;
  background-color: #ccc;
  color: #000;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.streams {
  position: fixed;
  right: 0px;
  width: 200px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 0.75rem;
}
